<div class="example-container">
    <h2>Available numbers</h2>
    <div
      id="all"
      cdkDropList
      [cdkDropListData]="all"
      cdkDropListConnectedTo="even"
      class="example-list-available"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="noReturnPredicate">
      <div
        class="example-box-white"
        *ngFor="let number of all"
        class="example-box-white"
        [ngStyle]="setBackground(number)"
        [cdkDragData]="number"
        cdkDrag>{{number}}</div>
    </div>
</div>

<div class="example-container">
    <h2>My numbers</h2>
    <div
      id="even"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="even"
      cdkDropListConnectedTo="all"
      class="example-list-even"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="evenPredicate">
      <div
        class="example-box-white"
        *ngFor="let number of even"
        [ngStyle]="setBackground(number)"
        cdkDrag
        [cdkDragData]="number">{{number}}</div>
    </div>
    <div [style.visibility] = "getNumberOfElements() ? 'visible' : 'hidden'">
      <p>All slots occupied</p>
      <p><button (click)="checkColors()">Check</button></p>
    </div>
    <!-- <p><button (click)="checkColors()">Check Colors</button></p> -->
  </div>
  
  <div class="example-container">
    <h2>Computer numbers</h2>
    <div
      id="computer"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="computer"
      class="example-list-even"
      [cdkDropListEnterPredicate]="noReturnPredicate">
      <div
        class="example-box-white"
        *ngFor="let number of computer"
        class="example-box-white"
        [ngStyle]="setBackground(number)"
        [cdkDragData]="number"
        cdkDrag>{{number}}</div>
    </div>
  </div>
  